@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  height: 320px;
  float: left;
  width:100%;
}

#column-1 {
  background: #345995;
  
}

#column-2 {
  background:#E40066 ;
  
}

#column-3 {
  background: #03CEA4;
  
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  .col-3 {
    width:50%;
  }

  header {
    background-color: #E5F4E3;
  }

  #column-1 {
    background-color:#5DA9E9 ;
  }

  #column-2 {
    background-color:#003F91 ;
  }

  #column-3 {
    background-color: #6D326D;
    width: 100%;
  }

  footer {
    background-color: #E5F4E3;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  .col-3 {
    width:33.3%;
  }
  header {
    background-color: #896978;
  }

  #column-1 {
    background-color: #839791;
  }

  #column-2 {
    background-color:#AAC0AF ;
  }

  #column-3 {
    background-color:#FFD4CA ;
    width:33.3%;
  }

  footer {
    background-color: #896978;
  }
   
}
